@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@font-face {
  font-family: "Abril";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Abril/Abril-Regular/Abril-Regular.eot?") format("eot"), url("../assets/fonts/Abril/Abril-Regular/Abril-Regular.woff2") format("woff2"), url("../assets/fonts/Abril/Abril-Regular/Abril-Regular.woff") format("woff"), url("../assets/fonts/Abril/Abril-Regular/Abril-Regular.ttf") format("truetype"), url("../assets/fonts/Abril/Abril-Regular/Abril-Regular.svg#Abril") format("svg"); }

@font-face {
  font-family: "Abril-Fatface";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Abril/Abril-Fatface/Abril-Fatface.eot?") format("eot"), url("../assets/fonts/Abril/Abril-Fatface/Abril-Fatface.woff2") format("woff2"), url("../assets/fonts/Abril/Abril-Fatface/Abril-Fatface.woff") format("woff"), url("../assets/fonts/Abril/Abril-Fatface/Abril-Fatface.ttf") format("truetype"), url("../assets/fonts/Abril/Abril-Fatface/Abril-Fatface.svg#Abril-Fatface") format("svg"); }

@font-face {
  font-family: "Abril";
  font-style: italic;
  font-weight: 600;
  src: url("../assets/fonts/Abril/Abril-Semibold-Italic/Abril-Semibold-Italic.eot?") format("eot"), url("../assets/fonts/Abril/Abril-Semibold-Italic/Abril-Semibold-Italic.woff2") format("woff2"), url("../assets/fonts/Abril/Abril-Semibold-Italic/Abril-Semibold-Italic.woff") format("woff"), url("../assets/fonts/Abril/Abril-Semibold-Italic/Abril-Semibold-Italic.ttf") format("truetype"), url("../assets/fonts/Abril/Abril-Semibold-Italic/Abril-Semibold-Italic.svg#Abril") format("svg"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: "Abril", sans-serif;
  font-size: 1.6rem;
  color: #333; }

.heading-primary {
  font-weight: normal;
  letter-spacing: .3rem;
  font-size: 3.5rem;
  animation: moveInBottom 1s ease-out .25s;
  animation-fill-mode: backwards; }
  .heading-primary__bold {
    font-family: "Abril-Fatface", "Abril", sans-serif; }

.heading-secondary {
  font-size: 4.6rem;
  font-family: "Abril-Fatface", "Abril", sans-serif;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  text-align: center; }
  .heading-secondary--right {
    align-items: flex-end;
    text-align: right; }
    @media only screen and (max-width: 37.5em) {
      .heading-secondary--right {
        align-items: center;
        text-align: center; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3.6rem; } }
  .heading-secondary:before {
    content: "";
    display: block;
    border-bottom: 3px solid #EEAA9C;
    width: 5rem;
    margin-bottom: 2rem; }

.heading-tertiary {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem; }
  .heading-tertiary:after {
    content: "";
    display: block;
    border-bottom: 3px solid #EEAA9C;
    width: 5rem;
    margin-top: 1rem; }

.paragraph {
  font-size: 1.6rem;
  line-height: 1.6; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.italic {
  font-style: italic;
  font-weight: 600; }

.link {
  color: #A4A499;
  text-decoration: none;
  transition: all .2s; }
  .link:hover, .link:active {
    color: #EEAA9C; }

.copyright {
  margin-top: 3rem;
  color: #EEAA9C; }

.u-img-responsive {
  display: block;
  max-width: 100%; }

.u-color-white {
  color: #fff; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 6rem;
  display: inline-block;
  border-radius: 2px;
  transition: all .2s;
  position: relative;
  border: none;
  font-size: 1.4rem;
  letter-spacing: .8px;
  cursor: pointer; }

.btn:hover {
  box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.2);
  background-color: #333; }

.btn:active, .btn:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.2);
  background-color: #333; }

.btn--primary {
  background-color: #EEAA9C;
  color: #fff; }
  .btn--primary::after {
    background-color: #EEAA9C; }

.counter {
  text-align: center;
  align-content: center; }
  @media only screen and (max-width: 37.5em) {
    .counter:not(:last-child) {
      margin-bottom: 6rem; } }
  .counter__value {
    color: #EEAA9C;
    font-size: 9rem; }
  .counter__title {
    font-size: 2.4rem;
    letter-spacing: .8px; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__group--2 {
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .form__group--2 {
      flex-direction: column; } }
  .form__group--2 .form__group {
    margin-bottom: 0;
    flex-basis: calc(50% - 1rem); }
    .form__group--2 .form__group:first-child {
      margin-right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .form__group--2 .form__group {
        flex-basis: 100%; }
        .form__group--2 .form__group:first-child {
          margin-right: 0;
          margin-bottom: 2rem; } }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.1);
    border-bottom: 3px solid #EEAA9C; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #888; }

.form textarea {
  resize: none; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
  color: #fff; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.hiw__slide {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  outline: none;
  margin-top: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .hiw__slide {
      flex-direction: column; } }

.hiw__left {
  width: 30%; }
  @media only screen and (max-width: 37.5em) {
    .hiw__left {
      width: 100%; } }

.hiw__right {
  width: 50%; }
  @media only screen and (max-width: 37.5em) {
    .hiw__right {
      width: 100%; } }

.hiw__step {
  color: #EEAA9C;
  font-size: 2.4rem;
  margin-bottom: 2.5rem; }

.hiw__title {
  font-size: 2.4rem;
  font-family: "Abril-Fatface", "Abril", sans-serif;
  margin-bottom: .5rem; }

.hiw__description {
  letter-spacing: .8px;
  margin-bottom: 2.5rem; }

.hiw__hours {
  font-style: italic;
  font-weight: 600; }

.hiw__bg-number {
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: -1;
  overflow: hidden;
  transform: translateY(-50%);
  width: auto;
  font-size: 16rem;
  font-family: "Abril-Fatface", "Abril", sans-serif;
  color: rgba(238, 170, 156, 0.2); }
  @media only screen and (max-width: 37.5em) {
    .hiw__bg-number {
      display: none; } }

.hiw__button {
  border-radius: 50%;
  background-color: white;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  font-family: "Abril", sans-serif;
  border-width: 0;
  color: #EEAA9C;
  box-shadow: 0 1.5rem 4rem rgba(51, 51, 51, 0.2);
  outline: none;
  transition: all .2s;
  cursor: pointer; }
  .hiw__button:hover, .hiw__button:focus {
    color: #fff;
    background-color: #EEAA9C; }
    @media (hover: none) and (pointer: coarse) {
      .hiw__button:hover, .hiw__button:focus {
        color: #EEAA9C;
        background-color: #fff; } }

.hiw .slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 4rem; }
  .hiw .slick-dots li:not(:last-child) {
    margin-right: 2rem; }
  .hiw .slick-dots li.slick-active .hiw__button {
    color: #fff;
    background-color: #EEAA9C; }

.hiw--steps {
  overflow: hidden; }

.hiw--steps .hiw__slide {
  margin-top: 0; }
  @media only screen and (max-width: 37.5em) {
    .hiw--steps .hiw__slide:not(:first-child) {
      margin-top: 5rem; } }
  .hiw--steps .hiw__slide:nth-child(even) {
    flex-direction: row-reverse; }
  .hiw--steps .hiw__slide:nth-child(odd) {
    flex-direction: row; }
  .hiw--steps .hiw__slide__right {
    width: 60%; }
  .hiw--steps .hiw__slide__left {
    width: 40%; }

.hiw--steps .hiw__slide .hiw__right {
  width: 60%; }

.hiw--steps .hiw__slide .hiw__left {
  width: 40%; }

.hiw--steps .hiw__slide:nth-child(even) .hiw__right {
  text-align: right; }

.hiw--steps .hiw__slide:nth-child(even) .hiw__bg-number {
  left: unset;
  right: 35%; }

.hiw--steps .hiw__description,
.hiw--steps .hiw__step {
  margin-bottom: 1.5rem; }

.nav {
  list-style: none;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .nav {
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1500;
      opacity: 0;
      transform: translateY(-100%);
      transition: .8s all; } }
  @media only screen and (max-width: 37.5em) {
    .nav {
      display: none; } }
  .nav__item {
    display: inline-block;
    vertical-align: middle; }
    .nav__item:not(:first-child) {
      margin-left: 1.5rem; }
    .nav__item--mobile {
      display: none; }
      @media only screen and (max-width: 56.25em) {
        .nav__item--mobile {
          display: inline-block; } }
  .nav__link:link, .nav__link:visited {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .4s; }
  .nav__link:hover, .nav__link:active {
    color: #EEAA9C; }

@media only screen and (max-width: 56.25em) {
  .navigation__nav {
    display: block;
    height: 100vh;
    width: 90%;
    position: fixed;
    top: 0;
    right: 10%;
    z-index: 1500;
    opacity: 0;
    transform: translateX(-100%);
    transition: .8s all; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  display: none;
  height: 5rem;
  width: 5rem;
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      position: relative;
      display: block;
      z-index: 1501; } }

.navigation__icon {
  position: relative;
  margin-top: 2.5rem; }
  .navigation__icon, .navigation__icon:before, .navigation__icon:after {
    width: 2.5rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon:before, .navigation__icon:after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon:before {
    top: -.8rem; }
  .navigation__icon:after {
    top: .8rem; }

.navigation__checkbox:checked ~ .navigation__nav {
  background-color: #333;
  opacity: 1;
  transform: translateX(0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.navigation__checkbox:checked ~ .navigation__nav > .nav__item {
  opacity: 1;
  transform: translateX(0);
  font-size: 2rem; }
  .navigation__checkbox:checked ~ .navigation__nav > .nav__item:not(:first-child) {
    margin-left: 0;
    margin-top: 3rem; }

.navigation__checkbox:checked ~ .navigation__nav > .nav__item .nav__link {
  color: #fff; }

.navigation__checkbox:checked + .navigation__button {
  position: fixed;
  right: 10%;
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  top: 0;
  transform: rotate(135deg);
  background-color: #fff; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  top: 0;
  transform: rotate(-135deg);
  background-color: #fff; }

.scroll-up {
  position: fixed;
  display: none;
  bottom: 1.5rem;
  right: 1.5rem;
  text-decoration: none;
  z-index: 999;
  transition: background-color .2s;
  padding: 12px 15px;
  border-radius: 50px;
  background-color: #EEAA9C;
  cursor: pointer; }
  .scroll-up__icon {
    fill: #fff;
    width: 1.4rem;
    height: 1.4rem; }
  .scroll-up:hover {
    background-color: #333; }

.social-media {
  list-style: none;
  display: inline-flex;
  align-items: center; }
  .social-media__item:not(:last-child) {
    margin-right: 1rem; }
  .social-media__link {
    display: flex;
    align-items: center;
    transition: all .2s; }
  .social-media__icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: #A4A499;
    transition: all .2s; }
  .social-media__link:hover .social-media__icon {
    fill: #EEAA9C; }
  .social-media--nav .social-media__item:not(:last-child) {
    margin-right: 1.5rem; }
  .social-media--nav .social-media__icon {
    fill: #333; }
  .social-media--nav .social-media__link:hover .social-media__icon {
    fill: #EEAA9C; }

.footer {
  background-color: #333;
  padding: 5rem 0;
  text-align: center;
  color: #A4A499;
  letter-spacing: 1px; }
  .footer .paragraph:not(:last-child) {
    margin-bottom: 1rem; }

.row {
  position: relative;
  max-width: 114rem;
  width: 100%;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      padding: 0 1.5rem; } }

.header {
  display: flex;
  background-color: rgba(238, 238, 238, 0.6);
  max-width: 114rem;
  margin: 50px auto 0;
  padding: 35px 30px;
  position: relative;
  z-index: 10;
  animation: fadeIn .5s; }
  @media only screen and (max-width: 75em) {
    .header {
      padding: 15px;
      max-width: 90%; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      margin-top: 25px;
      padding: 0 15px; } }
  .header__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    min-height: 50px; }
  @media only screen and (max-width: 37.5em) {
    .header__info {
      display: none; } }
  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: 80px; }
    @media only screen and (max-width: 75em) {
      .header__logo {
        max-height: 60px; } }
    @media only screen and (max-width: 56.25em) {
      .header__logo {
        max-height: 50px; } }

.container {
  margin-top: -170px; }
  @media only screen and (max-width: 75em) {
    .container {
      margin-top: -130px; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      margin-top: -75px; } }

.section1 {
  position: relative;
  height: 100vh;
  background-image: url(../assets/img/bg-section-1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section1__text-box {
    position: absolute;
    max-width: 80rem;
    top: calc(50% + 85px);
    transform: translateY(-50%); }
    @media only screen and (max-width: 75em) {
      .section1__text-box {
        top: calc(50% + 65px);
        left: 5%; } }
    @media only screen and (max-width: 37.5em) {
      .section1__text-box {
        top: calc(50% + 37.5px);
        right: 5%;
        max-width: unset;
        text-align: center; } }

.section2 {
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section2 {
      padding: 5rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section2 {
      padding: 1.5rem 0; } }

.main-info {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .main-info {
      flex-direction: column; } }
  .main-info__left {
    flex-basis: 50%;
    background-image: url("../assets/img/roses-in-basket.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
    @media only screen and (max-width: 56.25em) {
      .main-info__left {
        display: none; } }
  .main-info__right {
    flex-basis: 50%;
    background-color: #f9f9f9;
    padding: 4rem 4rem 4rem 7rem;
    margin: 50px 0;
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 56.25em) {
      .main-info__right {
        margin: 0;
        padding: 3rem;
        background-image: url("../assets/img/roses-in-basket.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        color: #fff; } }
    @media only screen and (max-width: 56.25em) {
      .main-info__right > * {
        position: relative;
        z-index: 10; } }
    @media only screen and (max-width: 56.25em) {
      .main-info__right:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, 0.6); } }

.section3 {
  margin-bottom: 10rem; }

.section4 {
  padding: 15rem 0;
  background-image: url(../assets/img/bg-section-4.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .section4 {
      padding: 6rem 0; } }
  .section4:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.7); }
  .section4 > * {
    position: relative;
    z-index: 10; }

.counter-wrapper {
  display: flex;
  justify-content: space-around;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .counter-wrapper {
      flex-direction: column; } }

.section5 {
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section5 {
      padding: 5rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section5 {
      padding: 1.5rem 0; } }

.partners {
  display: flex;
  text-align: right;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .partners {
      text-align: left;
      flex-direction: column; } }
  .partners__left {
    flex-basis: 50%;
    padding: 0 7rem 4rem 4rem; }
    @media only screen and (max-width: 56.25em) {
      .partners__left {
        padding: 0 4rem 2rem 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .partners__left {
        padding: 2rem; } }
  .partners__right {
    flex-basis: 50%;
    border: 3px solid #EEAA9C;
    position: relative;
    margin-right: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .partners__right {
        margin-right: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .partners__right {
        margin-right: 0; } }
  .partners__image {
    position: relative;
    top: -5rem;
    left: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .partners__image {
        top: -3rem;
        left: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .partners__image {
        top: 0;
        left: 0;
        padding: 1.5rem; } }

.section6 {
  position: relative;
  padding: 15rem 0; }
  @media only screen and (max-width: 37.5em) {
    .section6 {
      padding: 6rem 0; } }

.contact__form {
  max-width: 70rem;
  margin: 0 auto; }

.section7 {
  padding: 10rem 0; }

.map {
  height: 40rem;
  max-height: 100vh;
  border-radius: 4px; }
