$font-default: "Abril", sans-serif !default;
$font-heading: "Abril-Fatface", "Abril", sans-serif !default;
$font-size-default: 1.6rem;

$color-text: #333;
$color-grey: #888;
$color-grey-light-2: #f9f9f9;
$color-grey-light: #eee;
$color-white: #fff;
$color-primary: #EEAA9C;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$grid-width: 114rem;

