.header {
  display: flex;
  background-color: rgba($color-grey-light, .6);
  max-width: $grid-width;
  margin: 50px auto 0;
  padding: 35px 30px;
  position: relative;
  z-index: 10;

  @include respond(tab-land) {
    padding: 15px;
    max-width: 90%;
  }

  @include respond(phone) {
    margin-top: 25px;
    padding: 0 15px;
  }

  &__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    min-height: 50px;
  }

  &__info {
    @include respond(phone) {
      display: none;
    }
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: 50px;
  }
}