.counter {
  text-align: center;
  align-content: center;
  width: 25%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;

  @include respond(phone) {
    width: auto;
  }

  &:not(:last-child) {
    @include respond(phone) {
      margin-bottom: 6rem;
    }
  }

  &__value {
    color: $color-primary;
    font-size: 9rem;
  }

  &__title {
    font-size: 2.4rem;
    letter-spacing: .8px;
  }
}