.nav {
  list-style: none;
  font-size: 1.4rem;

  @include respond(tab-port) {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    transform: translateY(-100%);
    transition: .8s all;
  }

  @include respond(phone) {
    display: none;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    line-height: 8rem;
    position: relative;
    overflow-x: hidden;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left:0;
      width: 100%;
      height: 2px;
      background-color: $color-text;
      transform: translateX(-100%);
      opacity: 0;
      transition: all .5s;
      z-index: 1;
    }

    &:hover {
      &:after {
        transform: translateX(0);
        opacity: 1;
      }
    }

    &:not(:first-child) {
      margin-left: 3rem;
    }

    @include respond(tab-port) {
      line-height: unset;
    }

    &--mobile {
      display: none;

      @include respond(tab-port) {
        display: inline-block;
      }
    }
  }

  &__link {

    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .4s;
    }

    &:hover,
    &:active {
      color: $color-text;
    }
  }


}

.header:hover .nav__link {
  &:link,
  &:visited {
    color: $color-text;
  }
}