.nav {
  list-style: none;
  font-size: 1.4rem;

  &__item {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 3.5rem;
    }
  }

  &__link {

    &:link,
    &:visited {
      color: $color-text;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .4s;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }


}