.scroll-up {
  position: fixed;
  display: none;
  bottom: 1.5rem;
  right: 1.5rem;
  text-decoration: none;
  z-index: 999;
  transition: background-color .2s;
  padding: 12px 15px;
  border-radius: 50px;
  background-color: $color-primary;
  cursor: pointer;

  &__icon {
    fill: $color-white;
    width: 1.4rem;
    height: 1.4rem;
  }

  &:hover {
    background-color: $color-text;
  }
}