*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem === 10px; 10px/16px = 62.5

  @include respond(tab-land) {
    font-size: 56.25%; //1rem === 9px; 9px/16px = 56.25
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem === 8px; 8px/16px = 50
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem === 12px; 12px/16px = 75
  }
}

body {
  box-sizing: border-box;
  font-family: $font-default;
  font-size: $font-size-default;
  color: $color-text;
}

.heading-primary {
  font-weight: normal;
  letter-spacing: .3rem;
  font-size: 4rem;
  animation: moveInBottom 1s ease-out .25s;
  animation-fill-mode: backwards;
  text-align: center;
  color: $color-white;

  &__bold {
    font-family: $font-heading;
  }
}

.heading-secondary {
  font-size: 4.6rem;
  font-family: $font-heading;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  text-align: center;

  &--right {
    align-items: flex-end;
    text-align: right;

    @include respond(phone) {
      align-items: center;
      text-align: center;
    }
  }

  &--left {
    align-items: flex-start;
    text-align: left;

    @include respond(phone) {
      align-items: center;
      text-align: center;
    }
  }

  @include respond(phone) {
    font-size: 3.6rem;
  }

  &:before {
    content: "";
    display: block;
    border-bottom: 3px solid $color-primary;
    width: 5rem;
    margin-bottom: 2rem;
  }
}

.heading-tertiary {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;

  &:after {
    content: "";
    display: block;
    border-bottom: 3px solid $color-primary;
    width: 5rem;
    margin-top: 1rem;
  }
}

.paragraph {
  font-size: $font-size-default;
  line-height: 1.6;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.italic {
  font-style: italic;
  font-weight: 600;
}

.link {
   color: $color-grey-text;
  text-decoration: none;
  transition: all .2s;

  &:hover,
  &:active {
    color: $color-primary;
  }
}

.copyright {
  margin-top: 3rem;
  color: $color-primary;
}