.container {
  margin-top: -170px;

  @include respond(tab-land) {
    margin-top: -130px;
  }

  @include respond(phone) {
    margin-top: -75px;
  }
}

.section1 {
  position: relative;
  height: 100vh;
  background-image: url(../assets/img/bg-section-1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text-box {
    position: absolute;
    max-width: 80rem;
    top: calc(50% + 85px);
    transform: translateY(-50%);

    @include respond(tab-land) {
      top: calc(50% + 65px);
      left: 5%;
    }

    @include respond(phone) {
      top: calc(50% + 37.5px);
      right: 5%;
      max-width: unset;
      text-align: center;
    }
  }
}

.section2 {
  padding: 15rem 0;
  @include respond(tab-port) {
    padding: 5rem 0;
  }

  @include respond(phone) {
    padding: 1.5rem 0;
  }
}

.main-info {
  display: flex;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__left {
    flex-basis: 50%;
    background-image: url('../assets/img/roses-in-basket.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__right {
    flex-basis: 50%;
    background-color: $color-grey-light-2;
    padding: 4rem 4rem 4rem 7rem;
    margin: 50px 0;
    position: relative;

    @include respond(tab-port) {
      margin: 0;
      padding: 3rem;
      background-image: url('../assets/img/roses-in-basket.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      color: $color-white;
    }

    & > * {
      @include respond(tab-port) {
        position: relative;
        z-index: 10;
      }
    }

    &:before {
      @include respond(tab-port) {
        content: "";
        display: block;
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-text, .6);
      }
    }
  }
}

.section3 {
  margin-bottom: 10rem;
}

.section4 {
  padding: 15rem 0;
  background-image: url(../assets/img/bg-section-4.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  @include respond(phone) {
    padding: 6rem 0;
  }


  &:before {
      content: "";
      display: block;
      position: absolute;
      top:0;
      bottom: 0;
      left:0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-text, .7);
  }

  & > * {
    position: relative;
    z-index: 10;
  }
}

.counter-wrapper {
  display: flex;
  justify-content: space-around;
  color: $color-white;

  @include respond(phone) {
    flex-direction: column;
  }
}

.section5 {
  padding: 15rem 0;
  @include respond(tab-port) {
    padding: 5rem 0;
  }

  @include respond(phone) {
    padding: 1.5rem 0;
  }
}

.partners {
  display: flex;
  text-align: right;
  align-items: center;

  @include respond(phone) {
    text-align: left;
    flex-direction: column;
  }

  &__left {
    flex-basis: 50%;
    padding: 0 7rem 4rem 4rem;

    @include respond(tab-port) {
      padding: 0 4rem 2rem 2rem;
    }

    @include respond(phone) {
      padding: 2rem;
    }
  }

  &__right {
    flex-basis: 50%;
    border: 3px solid $color-primary;
    position: relative;
    margin-right: 5rem;
    @include respond(tab-port) {
      margin-right: 3rem;
    }

    @include respond(phone) {
      margin-right: 0;
    }
  }

  &__image {
    position: relative;
    top:-5rem;
    left: 5rem;

    @include respond(tab-port) {
      top:-3rem;
      left: 3rem;
    }

    @include respond(phone) {
      top: 0;
      left: 0;
      padding: 1.5rem;
    }
  }
}

